.navbar{
  width: 100%;
  height: 70px;
  background-color: #fff;
}

.navbar .leftnav .leftul{
  margin-top: 25px;
  padding-left: 130px;
  display: flex;
  float: left;
  list-style: none;
}

.navbar .leftnav .leftul li{
  margin-right: 12px;  
}


.navbar .leftnav .leftul li a.liconlinks{
  display: flex;
  border-radius: 3px;
  text-decoration: none;
  color: black;
  padding: 6px 10px;
}

.navbar .leftnav .leftul li a.liconlinks p.arrow{
  padding-left: 8px;
  margin-top: 2px;
  margin-bottom: 2px;
}


.navbar .leftnav .leftul li a.liconlinks:hover{
  background-color: lightgrey;
}

.navbar .rightnav{
  padding-top: 3px;
}

.navbar .rightnav .rightul{
  margin: 25px;
  padding-right: 130px;
  display: flex;
  float: right;
  list-style: none;
}

.navbar .rightnav .rightul li{
  margin-left: 25px; 
}

.navbar .rightnav .rightul li a.riconlinks{ 
  font-size: 16px;
  font-weight: 500;
  border-radius: 3px;
  text-decoration: none;
  color: blue;
  padding: 6px 10px;
}

.navbar .rightnav .rightul li a.riconlinks:hover{
  background-color: lightgray;
}

.navbar .rightnav .rightul li a.rsiconlinks{
  font-size: 16px;
  font-weight: 500;
  border-radius: 3px;
  text-decoration: none;
  color: #fff;
  padding: 6px 10px;
  background-color: blue;
}
.navbar .rightnav .rightul li a.rsiconlinks:hover{
  background-color: darkblue;
}

.mainpage{
  width: 100%;
  position: relative;
}

.mainpage img.mainimage{
  display: block;
  width: 100%;
  height: 650px;
}

.mainpage .info{
  position: absolute;
  top: 15%;
  left: 10%;
  color: white;
  text-align: left;
}

.mainpage .info h1{
  font-size: 70px;
}

.mainpage .info p{
  font-size: 25px;
}

.mainpage .info button.learnmore{
  border-radius: 5px;
  padding: 10px 20px;
  background-color: orange;
}
.mainpage .info button.learnmore:hover{
  background-color: rgb(197, 132, 13);
}
